X-Mailer: aerc {{version}}

Forwarded message from {{.OriginalFrom | names | join ", "}} on {{dateFormat .OriginalDate "Mon Jan 2, 2006 at 3:04 PM"}}:
{{ if eq .OriginalMIMEType "text/html" -}}
{{- exec `html` .OriginalText -}}
{{- else -}}
{{ .OriginalText }}
{{- end}}
{{- with .Signature }}

{{.}}
{{- end }}
