X-Mailer: aerc {{version}}

Forwarded message from {{.OriginalFrom | names | join ", "}} on {{dateFormat .OriginalDate "2006-01-02 15:04 MST"}}:
{{ if eq .OriginalMIMEType "text/html" -}}
{{- exec `html` .OriginalText | replace `\s+$` "" -}}
{{- else -}}
{{- .OriginalText | replace `\s+$` "" -}}
{{- end}}
{{- with .Signature }}

{{.}}
{{- end }}
