X-Mailer: aerc {{version}}

On {{dateFormat (.OriginalDate | toLocal) "2006-01-02 15:04 MST"}}, {{.OriginalFrom | names | join ", "}} wrote:
{{ if eq .OriginalMIMEType "text/html" -}}
{{- exec `html.sh` .OriginalText | trimSignature | quote -}}
{{- else -}}
{{- trimSignature .OriginalText | replace `\s+$` "" | quote -}}
{{- end}}
{{- with .Signature }}

{{.}}
{{- end }}
