# https://man.archlinux.org/man/mbsync.1.en

Create Near
Remove Near

IMAPAccount ${ACCOUNT}
TLSType IMAPS
AuthMechs PLAIN
Host ${IMAP_HOST}
User ${USERNAME}
Pass ${PASSWORD}

MaildirStore ${ACCOUNT}-local
Inbox ~/.local/share/maildir/${ACCOUNT}/
SubFolders Maildir++

IMAPStore ${ACCOUNT}-remote
Account ${ACCOUNT}

Channel ${ACCOUNT}
Far :${ACCOUNT}-remote:
Near :${ACCOUNT}-local:
SyncState *
Patterns *

