# https://man.archlinux.org/man/mbsync.1.en

Create Both
Remove Both
Expunge Both

IMAPAccount ${ACCOUNT}
TLSType IMAPS
AuthMechs XOAUTH2
Host ${IMAP_HOST}
User ${USERNAME}
PassCmd "~/.local/opt/isync/oauth.sh -- ~/.local/state/isync/<email>.oauth.gpg"

MaildirStore ${ACCOUNT}-local
SubFolders Verbatim
Path ~/.local/share/maildir/${ACCOUNT}/
Inbox ~/.local/share/maildir/${ACCOUNT}/Inbox

IMAPStore ${ACCOUNT}-remote
Account ${ACCOUNT}

Channel ${ACCOUNT}
Far :${ACCOUNT}-remote:
Near :${ACCOUNT}-local:
SyncState *
Patterns *
Patterns !任务 !日记 !注释 !联系人 !对话历史记录
