[Unit]
Description=x11vnc service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/x11vnc -auth /home/{{ vnc_user }}/.Xauthority -display :0 -forever -loop -avahi -passwd {{ vnc_pw }}
ExecStop=/usr/bin/killall x11vnc
Restart=on-failure

[Install]
WantedBy=multi-user.target
