[Unit]
Description=VsCode Server Update
Conflicts=00-vscode.service
OnSuccess=00-vscode.service
OnFailure=00-vscode.service

[Service]
Type=oneshot
Restart=on-failure
ExecCondition=code-server update --check
ExecStart=code-server update
