# apt install --yes -- libsecret-1-0

[Unit]
Description=VsCode Server

[Service]
Type=simple
Restart=on-failure
ExecStart=code-server --disable-telemetry --host :: --port 80 --auth none -- /root

[Install]
WantedBy=default.target
