include {{ nano_path }}/*.nanorc

set backup
set backupdir {{ _nano_backup_dir_ }}

set autoindent
set trimblanks
set tabsize 4
set tabstospaces

set emptyline
set linenumbers

set softwrap
set mouse
