#################### ########### ####################
#################### Keys Region ####################
#################### ########### ####################

map q quit

map : read

map <c-r> reload


#################### ################# ####################
#################### Navigation Region ####################
#################### ################# ####################

map <up> up
map <down> down

map <left> updir
map <right> open

map top [
map bottom ]


#################### ########## ####################
#################### CUA Region ####################
#################### ########## ####################

map <space> toggle
map l clear

map f search
map / find

map c copy
map x cut
map v paste
map r rename


#################### ############# ####################
#################### Select Region ####################
#################### ############# ####################
