#################### ############## ####################
#################### Options Region ####################
#################### ############## ####################

set color256 on

set dircounts on
