#################### ############## ####################
#################### Options Region ####################
#################### ############## ####################

set wrapscroll on

set color256 on

set drawbox on

set dircounts on

set icons on

set tabstop 2
