#################### ############## ####################
#################### Options Region ####################
#################### ############## ####################

set wrapscroll on

set color256 on

set dircounts on

set icons on

set tabstop 2

set timefmt "2020-01-01 00:00"

set info "size time"
